---
layout: page
header: no
---
<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Video Hover</title>
  </head>
  <body>
    <video class="tennis_serve" width="320" height="240" src="/images/tennis_serve.mp4" preload loop autoplay></video>
    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- <script src="/blog/video-hover.js"></script>
  </body>
</html> -->


      <!-- <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4">
      <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
      <!-- <source src="/images/VID_20190721_162804.mpeg" type="video/mpeg"> -->

<video class="tennis_serve" src="/images/tennis_serve.mp4" preload loop autoplay

style="
    margin: 0 auto;
    display: block;
    width: 100%;
"
></video>

<br>
<br>
<br>
<h1 style="text-align: center"> Oops, nothing yet. </h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% for post in site.categories.tennis limit:1000 %}
<div class="row">
  <div class="small-12 columns b60">
    <h2><a href="{{ post.cust_url }}" target="_blank">{{ post.title }}</a></h2>
    <p>
      {% if post.image.thumb %}<a href="{{ post.cust_url }}" title="{{ post.title | escape_once }}"><img src="{{ site.urlimg }}{{ post.image.thumb }}" class="alignleft" width="150" height="150" alt="{{ page.title escape_once }}"></a>{% endif %}

      {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser }}{% endif %}

      <a href="{{ post.cust_url }}" target="_blank" title="{{ site.data.language.read }} {{ post.title | escape_once }}"><strong> Learn more. </strong></a>
    </p>
  </div>
</div>
{% endfor %}
